<a md-list-item href="{{bookmark.url}}" target="_blank">
  <!--<object md-list-avatar data="../../assets/images/ic_public_black_24px.svg" type="image/svg+xml">-->
  <img md-list-avatar src="{{urlDomain()}}" alt="..."
       onError="this.src='../../assets/images/ic_public_white_24dp_2x.png'" >
  <!--</object>-->
  <!--<md-icon md-list-icon>folder</md-icon>-->
  <h2 md-line>{{bookmark.title}}</h2>
  <div md-line class="details">
    <span> {{bookmark.url}}</span>
  </div>
  <div>
    <md-chip-list class="chips" selectable="false" fxFlex fxShow="false" fxShow.gt-sm>
      <md-chip>{{styleFolders(bookmark.ancestors)}}</md-chip>
    </md-chip-list>
    <md-chip-list class="chips" selectable="false" fxFlex fxShow="false" fxShow.gt-sm>
      <md-chip>{{bookmark.dateAdded| date}}</md-chip>
    </md-chip-list>
    <button md-mini-fab (click)="onEdit($event)">
      <md-icon>edit</md-icon>
    </button>
  </div>
</a>
