<h2 md-dialog-title>Edit bookmark</h2>
<md-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">

    <md-form-field>
      <input mdInput placeholder="Title" formControlName="title">
    </md-form-field>
    <br>
    <md-form-field>
      <input mdInput placeholder="Url" formControlName="url">
    </md-form-field>

  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="null">Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button
          [md-dialog-close]="{'_id':id,'title':titleInput.value,'url':urlInput.value}">
    Save
  </button>
</md-dialog-actions>
