<a md-list-item href="{{tab.url}}" target="_blank">
  <img md-list-avatar src="{{tab.favIconUrl}}" alt="..."
       onError="this.src='../../assets/images/ic_public_white_24dp_2x.png'" >
  <!--</object>-->
  <!--<md-icon md-list-icon>folder</md-icon>-->
  <h2 md-line>{{tab.title}}</h2>
  <div md-line class="details">
    <span> {{tab.url}}</span>
  </div>

</a>
