<!--The content below is only a placeholder and can be replaced.-->
<div class="kvfe-body" fxLayout="column">
  <kvfe-loader></kvfe-loader>
  <kvfe-header></kvfe-header>

  <kvfe-login class="kvfe-container kvfe-bg" fxFill
              *ngIf="!tokenService.loggedIn"></kvfe-login>
  <div class="kvfe-container " fxLayout="row"
       *ngIf="tokenService.loggedIn">
    <div fxFlex="260px" fxFlex.lt-md="64px">

      <md-nav-list fxLayout="column">

        <md-list-item fxFlex fxShow="false" fxShow.gt-sm
                      (click)="onChangeList('bookmark')">
          <md-icon md-list-icon>bookmark</md-icon>
          <h4 md-line>Bookmarks</h4>
        </md-list-item>
        <md-list-item fxFlex fxHide="false" fxHide.gt-sm
                      (click)="onChangeList('bookmark')">
          <md-icon md-list-icon>bookmark</md-icon>
        </md-list-item>

        <md-list-item fxFlex fxShow="false" fxShow.gt-sm
                      (click)="onChangeList('tab')">
          <md-icon md-list-icon>tab</md-icon>
          <h4 md-line>Tabs</h4>
        </md-list-item>
        <md-list-item fxFlex fxHide="false" fxHide.gt-sm
                      (click)="onChangeList('tab')">
          <md-icon md-list-icon>tab</md-icon>
        </md-list-item>

        <!--<md-list-item fxFlex fxShow="false" fxShow.gt-sm>-->
          <!--<md-icon md-list-icon>history</md-icon>-->
          <!--<h4 md-line>History</h4>-->
        <!--</md-list-item>-->
        <!--<md-list-item fxFlex fxHide="false" fxHide.gt-sm>-->
          <!--<md-icon md-list-icon>history</md-icon>-->
        <!--</md-list-item>-->

        <!--<md-divider></md-divider>-->

        <!--<md-list-item fxFlex fxShow="false" fxShow.gt-sm>-->
          <!--<md-icon md-list-icon>settings</md-icon>-->
          <!--<h4 md-line>Settings</h4>-->
        <!--</md-list-item>-->
        <!--<md-list-item fxFlex fxHide="false" fxHide.gt-sm>-->
          <!--<md-icon md-list-icon>settings</md-icon>-->
        <!--</md-list-item>-->


      </md-nav-list>


    </div>

    <div class="kvfe-sidenav-content kvfe-bg" [ngSwitch]="itemList">

      <kvfe-bookmark-list *ngSwitchCase="'bookmark'"></kvfe-bookmark-list>
      <kvfe-tabs *ngSwitchCase="'tab'"></kvfe-tabs>

    </div>
  </div>

</div>
