/*md-sidenav {*/
  /*width: 260px;*/
  /*!*width: 80px;*!*/
/*}*/

.kvfe-body {
  /*position: fixed;*/
  overflow: hidden;
  display: flex;
  position: fixed;

  /*flex-direction: column;*/
  height: 100%;
  width: 100%;
  margin: 0;

}

.kvfe-container {
  flex: 1 1 auto;
  height: 100%;
  background-color: #424242;
}

.kvfe-sidenav-content {
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  height: auto;
  align-items: center;
  justify-content: center;
}
md-divider{
  margin: 4px;
}


.kvfe-bg{
  background-color: #303030;
}
