<md-toolbar color="primary">
  <md-icon class="kvfe-logo">
    <object type="image/svg+xml" data="../assets/images/kv_logo.svg">
      Your browser does not support SVG
    </object>
  </md-icon>
  <!--<h1><b>KeyValue</b></h1>-->

  <span class="kvfe-spacer"></span>

  <button md-button [mdMenuTriggerFor]="appMenu" *ngIf="tokenService.loggedIn">
    <!--<md-icon>menu</md-icon>-->
    <!--<img class="kvfe-avatar-image" src="../assets/images/avatar.png">-->
    {{userEmail}}
    <!--User-->
  </button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <!--<button md-menu-item> Settings</button>-->
  <!--<button md-menu-item> Settings</button>-->

  <button md-menu-item (click)="onLogout()"> Logout</button>
</md-menu>

