<div class="login-container centered">
  <md-icon class="kvfe-logo">
    <object type="image/svg+xml" data="../../assets/images/keyvalue.svg">
      Your browser does not support SVG
    </object>
  </md-icon>
  <md-tab-group>
    <md-tab label="Log In">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email" formControlName="email">
          <md-error *ngIf="loginEmail.hasError('required')">
            Email is <strong>required</strong>
          </md-error>
        </md-form-field>
        <br>
        <md-form-field class="example-full-width">
          <input type="password" mdInput placeholder="Password" formControlName="password">
          <md-error *ngIf="loginPassword.hasError('required')">
            Password is <strong>required</strong>
          </md-error>
        </md-form-field>
        <br>
        <md-checkbox class="remember_me" formControlName="remember_me">Remember me?</md-checkbox>
        <br>
        <button type="submit" class="example-full-width" md-raised-button color="primary"
                [disabled]="!loginForm.valid"><h3>Log In</h3></button>
      </form>
    </md-tab>

    <md-tab label="Sign Up">
      <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email" formControlName="email">
          <md-error *ngIf="signUpEmail.hasError('required')">
            Email is <strong>required</strong>
          </md-error>
          <md-error *ngIf="signUpEmail.hasError('pattern')">
            Please enter a valid email address
          </md-error>
          <md-error *ngIf="signUpEmail.hasError('emailPattern')">
            Error emailPattern!
          </md-error>
          <md-error *ngIf="signUpEmail.hasError('emailExists')">
            Error email already exists!
          </md-error>
        </md-form-field>
        <br>
        <md-form-field class="example-full-width">
          <input mdInput type="password" placeholder="Password" formControlName="password">
          <md-error *ngIf="signUpPassword.hasError('required')">
            Password is <strong>required</strong>
          </md-error>
        </md-form-field>
        <br>
        <md-form-field class="example-full-width">
          <input mdInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <md-error *ngIf="signUpConfirmPassword.hasError('required')">
            Confirm Password is <strong>required</strong>
          </md-error>
          <md-error
            *ngIf="signUpConfirmPassword.hasError('passwordsMatch') && !signUpConfirmPassword.hasError('required')">
            The passwords must <strong>match</strong>
          </md-error>
        </md-form-field>
        <br>
        <button type="submit" class="example-full-width" md-raised-button color="primary"
                [disabled]="!signupForm.valid"><h3>Sign Up</h3></button>
      </form>

    </md-tab>
  </md-tab-group>
</div>

