.login-container {
  margin: 0;
  width: 320px;
  height: 600px;
  background-color: #303030;
}

.centered {
  position: fixed;
  left: 50%;
  margin-top: 170px;
  margin-left: -160px;
}

.kvfe-logo {
  position: fixed;
  left: 50%;
  margin-top: -160px;
  margin-left: -75px;
}
.login-content {
  flex: 1 1 auto;

  align-items: center;
  justify-content: center;

}

form {
  padding: 16px;
}

input {
  color: whitesmoke
}

.example-full-width {
  width: 100%;
}

.remember_me {
  color: whitesmoke;
}
