/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  font-family: 'Roboto', sans-serif;
  /*font-size: 14em;*/
  margin: 0;
  padding: 0;
}
